body {
    margin: 0;
    padding: 0;
    }
div{
    position: relative;
    
    }

.caja1 {
    background-color: #0e52a0;
    position: static;
    width: 400px;
    height: 400px;
}

.caja2 {
    background-color: #17b135;
    position: relative;
    top: 100px;
    left: 100px;
    width: 50%;
    height: 50%;
}

.caja3 {
    background-color: #000000;
    position: relative;
    bottom: 200px;
    width:  25%;
    height: 25%;
}